.primary {
  position: relative;
  top: 10px; }
  .primary ul a {
    text-decoration: none; }

#overlar ul {
  margin-top: 10rem; }
  #overlar ul a {
    font-weight: bold;
    color: #4e555b;
    font-size: 18px;
    text-decoration: none; }
  #overlar ul li {
    margin: 15px; }

#bottom a {
  text-decoration: none;
  padding-left: 18px;
  font-size: 20px;
  color: #4e555b; }
  #bottom a p:last-child {
    color: #4e555b; }

.mt-8 {
  margin-top: 20rem; }

.ml-6 {
  margin-left: 7rem; }

.carousel-inner img {
  width: 100%;
  height: 100%; }

#Cardown img {
  width: 100%;
  height: 100%;
  transition: all 0.1s linear 0ms; }
  #Cardown img:hover {
    transform: translate(0px, -3px); }

#xinxiang ul p {
  color: #B9B9B9;
  font-size: 15px; }

#xinxiang ul a {
  text-decoration: none;
  color: #DEBA61; }

#xinxiang ul img {
  width: 100%;
  height: 100%; }

#jingxuan p {
  color: darkgray;
  font-size: 15px; }

#jingxuan h6 {
  font-weight: bold;
  font-size: 15px;
  color: black; }

#jingxuan .mt-4:before {
  content: "";
  display: table; }

#jingxuan a {
  text-decoration: none;
  color: #DEBA61; }
  #jingxuan a img {
    width: 70px;
    height: 70px;
    position: relative;
    top: 40px;
    left: 30%; }

#jingxuan .white1 {
  width: 150px;
  height: 200px;
  background: #fff; }

#jingxuan li {
  transition: all 0.1s linear 0ms; }

#jingxuan li:hover {
  transform: translate(0, -3px); }

#zhishi p {
  color: darkgray;
  font-size: 15px; }

#zhishi li {
  transition: all 0.1s linear 0ms; }

#zhishi li:hover {
  transform: translate(0, -3px); }
